body{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: large;
}

.blue{
    color: blue;
}
.green{
    color: green;
}
.red{
    color: red;
}